*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
 body
 {
       background: linear-gradient(to right, black,rgb(133, 125, 125));
 }
 .card{
      width: 150%;
      max-width: 500px;
      background-image: url("Thunder.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      margin: 100px auto 0;
      border-radius: 20px;
      padding: 40px 35px;
      text-align: center;
 }
 .search
 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
 }
 .search input{
      border: 0;
      outline: 0;
      background: #161613;
      color: rgb(231, 239, 241);
      padding: 10px 25px;
      height: 60px;
      border-radius: 30px;
      flex: 1;
      margin-right: 16px;
      font-size: 18px; 
 }
 .search button
 {
      border: 0;
      outline: 0;
      background: #eef097;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
 }
 .search button img
 {
       width: 16px;
 }
 .weather-icon
 {
    width: 170px;
    margin-top: 30px;
 }
 .weather h1
 {
    font-size: 80px;
    font-weight: 500px;
 }
 .weather h2
 {
    font-size: 45px;
    font-weight: 400px;
    margin-top: -10px
 }
 .details
 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
 }
 .col
 {
    display: flex;
    align-items: center;
    text-align: left;
 }
 .col img
 {
    width: 40px;
    margin-right: 10px;
 }
 .humidity, .wind
 {
    font-size: 28px;
    margin-top: -6px;
 }